version: "2.0"
services:
 renderservice:
    image: fcollman/render-ws
    ports:
      - "8080"
    links:
      - mongo
    volumes:
      - /allen:/allen
      - ./example_1:/tmp/example_1:ro
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
 mongo:
    image: mongo:3.4.2
    expose:
      - "27017"
    security_opt:
      - seccomp:unconfined
 render-modules:
   image: fcollman/render-modules
   links:
      - renderservice
      - spark-master
   depends_on:
      - spark-master
   volumes:
      - ./test-reports:/shared/render-modules/test-reports
      - ./htmlcov:/shared/render-modules/htmlcov
      - /allen:/allen
      - ./example_1:/tmp/example_1:ro
      - /pipeline/MATLAB/MATLAB_Runtime/v91/:/shared/matlab_runtime
   environment:
      - RENDER_EXAMPLE_DATA=/tmp
      - RENDER_CLIENT_SCRIPTS=/shared/render/render-ws-java-client/src/main/scripts
      - MCRROOT=/shared/matlab_runtime
 spark-master:
    image: gettyimages/spark
    command: bin/spark-class org.apache.spark.deploy.master.Master -h master
    hostname: spark-master
    environment:
      MASTER: spark://spark-master:7077
      SPARK_CONF_DIR: /conf
      SPARK_PUBLIC_DNS: localhost
    expose:
      - 7001
      - 7002
      - 7003
      - 7004
      - 7005
      - 7006
      - 7077
      - 6066
    volumes:
      - ./sparkconf/master:/conf
      - /allen:/allen
      - ./example_1:/tmp/example_1:ro
 worker:
    image: gettyimages/spark
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    hostname: worker
    environment:
      SPARK_CONF_DIR: /conf
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 1g
      SPARK_WORKER_PORT: 8881
      SPARK_WORKER_WEBUI_PORT: 8081
      SPARK_PUBLIC_DNS: localhost
    links:
      - master
    expose:
      - 7012
      - 7013
      - 7014
      - 7015
      - 7016
      - 8881
    volumes:
      - ./sparkconf/worker:/conf
      - /allen:/allen
      - ./example_1:/tmp/example_1:ro