<?xml version="1.0" encoding="UTF-8"?>
<configuration>
      <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
	<syslogHost>log</syslogHost>
    	<facility>AUTH</facility>
    	<suffixPattern>[%thread] %logger %msg</suffixPattern>
  </appender>
    <logger name="org.janelia" level="DEBUG"/>

    <!--
         Hide mongodb driver cluster log spam until
         https://jira.mongodb.org/browse/JAVA-2136
         gets fixed.
    -->
    <logger name="org.mongodb.driver.cluster" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="SYSLOG" />
    </root>

</configuration>


