<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_3.dtd">

<Configure class="org.eclipse.jetty.webapp.WebAppContext">
  <Set name="contextPath">/render-ws</Set>
  <Set name="war">/var/www/render/deploy/jetty_base/render-ws.war</Set>

<!--<New id="Rewrite" class="org.eclipse.jetty.rewrite.handler.RewriteHandler">
      <Set name="rewriteRequestURI">true</Set>
      <Set name="rewritePathInfo">false</Set>
      <Set name="originalPathAttribute">requestedPath</Set>
 
       redirect the response. This is a redirect which is visible to the browser.
           After the redirect, the browser address bar will show /redirected 
      <Call name="addRule">
        <Arg>
          <New class="org.eclipse.jetty.rewrite.handler.RedirectPatternRule">
            <Set name="pattern">^(.*)$</Set>
            <Set name="replacement">$1?ndviz=2</Set>
          </New>
        </Arg>
      </Call>
    </New>
           
    <Set name="handler"><Ref id="Rewrite" /></Set> -->
</Configure>
