<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_3.dtd">

<Configure class="org.eclipse.jetty.webapp.WebAppContext">
  <Set name="contextPath">/render-ws</Set>
  <Set name="war">/var/www/render/deploy/jetty_base/render-ws.war</Set>
<!--
  <New id="Rewrite" class="org.eclipse.jetty.rewrite.handler.RewriteHandler">
       <Set name="rules">
         <Array type="org.eclipse.jetty.rewrite.handler.Rule">
             <Item>
 	       <New class="org.eclipse.jetty.rewrite.handler.RewriteRegexRule">
        	    <Set name="regex">NOTTHERE</Set>
            	    <Set name="replacement">NEWONE</Set>
	            <Set name="terminating">true</Set>
          	</New>
             </Item> 
          </Array>
       </Set>
  </New>           
    <Set name="handler">
	<Ref id="Rewrite" />
    </Set> 
-->
</Configure>
